@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
/* DEFAULTS */
body{
    display: flex;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #142E54;
}
p{font-family: Roboto, sans-serif;}
h1{font-family: Roboto, sans-serif;}
a{
    text-decoration: none;
    color: black;
}
button{
    font-family: Roboto, sans-serif;
    font-size: 15px;
    width: 110px;
    border: 2px solid;
    border-radius: 10px;
    background-color: #c4cccd;
}
button:hover{
    background-color: #545f69;
    cursor: pointer;
}
input{
    font-family: Roboto, sans-serif;
    font-size: 15px;
    width: 110px;
    border: 2px solid;
    border-radius: 10px;
    background-color: #768591;
}

textarea{
    height: 340px;
    resize: none;
    border: 3px solid;
    border-radius: 3px;
    margin-top: 25px;
    background-color: #c4cccd;
    white-space: pre-wrap;
}


/* CONTAINERS */
.main-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10vh;
    gap: 120px;
    background-color: #768591;
    border-radius: 40px;
    background-size: cover;
    width: 120vh;
}
.about-container{
    display: flex;
    flex-direction: column;
    justify-content: left;
}
.input-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 70px;
}
.result-container{
    display: flex;
    flex-direction: column;
    margin-top: 10vh;
}
.text-container{
    display: flex;
    flex-direction: column;
}

.button-container{
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    gap: 200px;
    margin-top: -60px;
}

.row{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 120px;
}

@media screen {
    body{
        height: auto;
    }
}